/node_modules
/node_modules/*
.vite
.vite-temp
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
npm-debug.log
yarn-error.log
yarn-debug.log
yarn.lock
*.log
*.log.*
*.tmp
*.bak
*.cache
*.diff
*.err
*.orig
*.out
*.patch
*.rej
*.sln.docstates
*.suo
*.swp

